.listContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
		linear-gradient(rgba(0, 196, 180, 0.6), rgba(155, 89, 182, 0.6));
    height: 100vh;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    border: 5px solid rgb(129, 126, 126);
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 50%;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

.listTitle {
    background-color: rgb(130, 167, 179);
    width: 100%;
    margin: 0;
    border-radius:14px 14px 0 0;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 0;
}

.ListItems {
    padding: 20px;
}